spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  application:
    name: aiglass-backend

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/aiglass_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

  sql:
    init:
      mode: never

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}

    cache:
      type: redis

management:
  endpoint:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoints:
    health:
      show-details: when-authorized
  health:
    redis:
      enabled: true
    db:
      enabled: true

auth:
  token:
    expirationInMils: ${EXPIRATION_TIME:7200000}
    jwtSecret: ${JWT_SECRET:36763979244226452948404D635166546A576D5A7134743777217A25432A462D}
    refreshTokenExpirationInMils: ${REFRESH_TOKEN_EXPIRATION_IN_MILLISECONDS:604800000}

server:
  port: 8080

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operationsSorter: method
    tagsSorter: alpha

#OTP config
app:
  ratelimit:
    requests-per-minute: 100
  security:
    login:
      max-attempts: 5
      lock-duration-minutes: 30
    otp:
      expiryMinutes: ${OTP_EXPIRATION_MINUTES:300000}
      mode: ${OTP_MODE:console}
      rateLimitMinutes: ${RATE_LIMIT_MINUTES:10}
      includeInResponse: ${OTP_INCLUDE_IN_RESPONSE:false}
